.convene-character-inventory-name {
  position: absolute;
  bottom: -6%;
  left: 0;
  right: 0;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: clamp(4px, 1.5vw, 30px);
}

.convene-character-inventory-element {
  position: absolute;
  background-color: #080016;
  border-radius: 50%;
  top: 4%;
  left: 5%;
  width: 10%;
}
.random-wuwa-character-inventory-name {
  position: absolute;
  bottom: -8%;
  left: -7%;
  right: 0;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: clamp(2px, 1.5vw, 20px);
}