.convene-character-inventory-name {
  position: absolute;
  bottom: -5%;
  left: 0;
  right: 0;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: clamp(2px, 1.5vw, 20px);
}
