/* importwish.css */

.genshin-import-container {
    display: flex;
    align-items: flex-start; /* Adjust alignment as needed */
    padding: 1%;
  }

/* Page container styles */
.import-wish-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(25%); /* Center horizontally */
  }

  @media screen and (min-width: 1600px) {
    .import-wish-container {
      transform: translateX(30%); /* Center horizontally */
    }
  }

  @media screen and (min-width: 1800px) {
    .import-wish-container {
      transform: translateX(40%); /* Center horizontally */
    }
  }
  
  /* Instructions container */
  .genshin-import-instructions-container {
    padding: 7%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    text-align: center;
  }
  
  /* Step styles */
  .genshin-import-text {
    font-size: clamp(2px, 1.5vw, 24px);
    text-align: left;
    margin: 10px 0;
    color: #ffffff; /* Text color */
  }
  
  /* Textbox styles */
  .genshin-import-link-textbox {
    width: 100%;
    max-width: 70%;
    padding: 10px;
    background-color: #b9b9b9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: monospace;
    margin-right: 2%;
  }
  /* Textbox styles */
  .genshin-import-link-textbox-import {
    width: 100%;
    max-width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: monospace;
    margin-right: 2%;
  }

  .genshin-import-text-title{
    font-size: clamp(2px, 2vw, 60px);
    text-align: left;
    margin: 10px 0;
    color: #ffffff; /* Text color */
    font-weight: bold;
  }
  
  /* Copy button styles */
  .genshin-import-copy-button {
    background-color: #008cff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .genshin-import-copy-button:hover {
    background-color: #0056b3; /* Button background color on hover */
  }
  
.genshin-import-copy-button:disabled {
    background-color: #ccc; /* Change the background color to gray */
    color: #888; /* Change the text color to a lighter gray */
    cursor: not-allowed; /* Change the cursor to not-allowed */
  }