/* Table container styles */
.no-selection {
  -webkit-user-select: none !important; /* Disable text selection for Safari */
  -moz-user-select: none !important; /* Disable text selection for Firefox */
  -ms-user-select: none !important; /* Disable text selection for Microsoft browsers */
  user-select: none !important; /* Disable text selection for modern browsers */
}

.table-container {
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  height: 90vh;
  margin: 0 auto;
  border-collapse: collapse;
  flex-direction: column;
  /* border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px; */
  text-align: center;
}

.table-body {
  /* Set a fixed height for the table body to control scrolling */
  max-height: none; /* Reset the max-height for the table body */
}

.table-scroll-container {
  overflow-y: auto; /* Add scrollbars when content overflows vertically */
  max-height: 70%; /* Subtract the height of the table header and footer */
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(234, 0, 255, 0.1);
  border-radius: 4px;
}
@media screen and (min-height: 800px) {
  .table-scroll-container {
    max-height: 73%;
  }
}
@media screen and (min-height: 900px) {
  .table-scroll-container {
    max-height: 77%;
  }
}
@media screen and (min-height: 1000px) {
  .table-scroll-container {
    max-height: 79%;
  }
}
@media screen and (min-height: 1100px) {
  .table-scroll-container {
    max-height: 82%;
  }
}

.genshin-draw-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Table header styles */
.table-header {
  position: sticky;
  top: 0;
  background-color: #000338;
}

/* Table header cells styles */
.table-header th {
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: clamp(2px, 1.5vw, 36px);
}

.table-header-selectable {
  transition: background-color 0.3s ease;
}

.table-header-selectable:hover {
  background-color: #37003d;
}

/* Table row styles */
.table-row:nth-child(even) {
  background-color: rgba(20, 13, 81, 0.4);
}

/* Table cell styles */
.table-cell {
  align-items: center;
  padding: 8px;
}
.table-cell-item-name {
  display: flex;
  align-items: center;
  padding: 8px;
}

/* Image styles */
.table-cell img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

/* Text styles */
.item-name {
  font-size: clamp(4px, 1vw, 36px);
  font-weight: bold;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.item-name-sub {
  font-size: clamp(2px, 1vw, 24px);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.table-item-icon {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-left: 10%;
  margin-right: 3%;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
}
/* Add CSS classes for sorted columns */
.genshin-draw-table-sorted-asc {
  box-shadow: 0px 7px 0px 0px #ad00c0 inset;
}

.genshin-draw-table-sorted-desc {
  box-shadow: 0px -7px 0px 0px #ad00c0 inset;
}

.genshin-draw-table-filter-buttons {
  margin: 0.5%;
  padding: 0.5%;
  border: none;
  color: #fff;
  font-size: clamp(2px, 1.5vw, 16px);
  font-weight: bold;
  background-color: #080016;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, scale 0.3s ease;
  box-shadow: 0 0 10px rgba(225, 0, 255, 0.7);
}

.genshin-draw-table-filter-buttons:hover {
  background-color: #200058;
  scale: 1.1;
}

.genshin-draw-table-filter-selected {
  transition: background-color 0.3s ease, scale 0.3s ease;
  background-color: #200058;
  scale: 1.1;
}

