.wish-stats-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wish-stats-pie-chart {
  width: 15vw;
}

/* Add these CSS styles to your component's stylesheet or CSS file */

/* Style the tables */
.wish-stats-pity-table {
  margin: 20px; /* Add some spacing */
}

/* Style table headers */
.wish-stats-pity-table table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px; /* Add spacing between tables */
}

.wish-stats-pity-table th {
  background-color: #10001e;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Style table rows and cells */
.wish-stats-pity-table td,
.wish-stats-pity-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-family: 'popins', sans-serif;
  font-weight: bold;
  color: white;
}

/* Style span elements */
.wish-stats-pity-table span {
  font-family: 'Poppins', sans-serif;
  display: block;
  color: white;
  font-weight: bold;
  margin-top: 20px; /* Add spacing above spans */
}
