/* WishTracker.css */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #080016;
  overflow: hidden;
}

/* Container styles */
.wishpage-container {
  display: flex;
  align-items: flex-start; /* Adjust alignment as needed */
  padding: 1%;
}

/* Main Content styles */
.content {
  flex: 1;
  padding: 1%;
  color: #ffc76c;
  color: #ebb3ff;
  color: #8ce2ff;
}

.wishpage-main-title {
  font-size: clamp(10px, 3vw, 128px);
  font-weight: 700;
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Apply styles to the grid container */
.wish-grid-container {
  display: grid; /* Use CSS Grid */
  grid-template-columns: minmax(0, auto) minmax(0, auto);
  height: 100vh; /* Full height of the viewport */
}

/* Style the left container */
.wish-left-grid-container {
  display: grid; /* Use CSS Grid */
  grid-template-rows: minmax(0, auto) minmax(0, auto);
  height: 100vh;
  padding: 0%;
}

/* Style the right content */
.wish-right-content {
  /* background-color: #002340; */
  box-shadow: 0px 0px 3px rgba(129, 0, 184, 0.6);
  flex: 20;
  padding: 0%;
}

/* Style the top left content */
.wish-top-left {
  box-shadow: 0px 0px 3px rgba(129, 0, 184, 0.6);
  /* background-color: #133b00; */
}

/* Style the bottom left content */
.wish-bottom-left {
  box-shadow: 0px 0px 3px rgba(129, 0, 184, 0.6);
  /* background-color: #004741; */
}

.genshin-wish-image-button {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add a smooth transition */
}

.genshin-wish-image-button.active {
  transform: scale(1.1);
}

.genshin-wish-image-button img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  flex: 1;
  transition: opacity 0.3s ease;
}

.genshin-wish-image-button p {
  font-size: clamp(2px, 1.5vw, 24px);
  font-weight: 700;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.genshin-wish-image-button.active p {
  text-decoration: underline;
}

.genshin-wish-image-button:hover {
  transform: scale(1.1);
}

.genshin-wish-image-button:active {
  transform: scale(1);
}

.genshin-wish-searcher-container {
  text-decoration: none; /* Remove the underline */
  display: flex;
  align-self: center; /* Center the button vertically */
  margin-left: 2%;
}

.genshin-wish-searcher-input{
  padding: 5px;
  background-color: #dedede;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: monospace;
}

.genshin-wish-searcher-text{
  font-size: 16px;
  text-align: left;
  color: #ffffff; /* Text color */
  font-weight: bold;
  margin-right: 10px;
}

.genshin-wish-searcher-button{
  background-color: #008cff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  padding: 5px 6px;
  margin-left: -5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.genshin-wish-searcher-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

.genshin-wish-searcher-reset-button{
  background-color: #008cff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  padding: 5px 6px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.genshin-wish-searcher-reset-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}