/* WishTracker.css */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #080016;
  overflow: hidden;
}

/* Container styles */
.wishpage-container {
  display: flex;
  align-items: flex-start; /* Adjust alignment as needed */
  padding: 1%;
}

/* Main Content styles */
.content {
  flex: 1;
  padding: 1%;
  color: #ffc76c;
  color: #ebb3ff;
  color: #8ce2ff;
}

.wishpage-main-title {
  font-size: clamp(10px, 3vw, 128px);
  font-weight: 700;
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Apply styles to the grid container */
.wish-grid-container {
  display: grid; /* Use CSS Grid */
  grid-template-columns: minmax(0, auto) minmax(0, auto);
  height: 100vh; /* Full height of the viewport */
}

/* Style the left container */
.wish-left-grid-container {
  display: grid; /* Use CSS Grid */
  grid-template-rows: minmax(0, auto) minmax(0, auto);
  height: 100vh;
  padding: 0%;
}

/* Style the right content */
.wish-right-content {
  /* background-color: #002340; */
  box-shadow: 0px 0px 3px rgba(129, 0, 184, 0.6);
  flex: 20;
  padding: 0%;
}

/* Style the top left content */
.wish-top-left {
  box-shadow: 0px 0px 3px rgba(129, 0, 184, 0.6);
  position: relative;
  /* background-color: #133b00; */
}

/* Style the bottom left content */
.wish-bottom-left {
  box-shadow: 0px 0px 3px rgba(129, 0, 184, 0.6);
  /* background-color: #004741; */
}

.genshin-wish-image-button {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add a smooth transition */
}

.genshin-wish-image-button.active {
  transform: scale(1.1);
}

.genshin-wish-image-button img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  flex: 1;
  transition: opacity 0.3s ease;
}

.genshin-wish-image-button p {
  font-size: clamp(2px, 1.5vw, 24px);
  font-weight: 700;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.genshin-wish-image-button.active p {
  text-decoration: underline;
}

.genshin-wish-image-button:hover {
  transform: scale(1.1);
}

.genshin-wish-image-button:active {
  transform: scale(1);
}

.genshin-wish-searcher-container {
  text-decoration: none; /* Remove the underline */
  display: flex;
  align-self: center; /* Center the button vertically */
  margin-left: 2%;
}

.genshin-wish-searcher-input {
  padding: 5px;
  background-color: #dedede;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: monospace;
}

.genshin-wish-searcher-text {
  font-size: 16px;
  text-align: left;
  color: #ffffff; /* Text color */
  font-weight: bold;
  margin-right: 10px;
}

.genshin-wish-searcher-button {
  background-color: #008cff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  padding: 5px 6px;
  margin-left: -5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.genshin-wish-searcher-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

.genshin-wish-searcher-reset-button {
  background-color: #008cff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  padding: 5px 6px;
  margin-right: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.genshin-wish-searcher-reset-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

.genshin-wish-explorer-divider {
  text-decoration: none; /* Remove the underline */
  align-self: center; /* Center the button vertically */
  margin-left: 1.5%;
  display: flex;
  flex-direction: column;
}
.genshin-wish-searcher-explorer-button {
  background-color: #008cff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  padding: 5px 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative; /* Position the button relative to its parent */
  transition: background-color 0.3s ease, display 0.3s ease, disabled 0.3s ease;
}

.genshin-wish-searcher-explorer-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}
.genshin-wish-searcher-explorer-button:disabled {
  background-color: #ccc; /* Change the background color to gray */
  color: #888; /* Change the text color to a lighter gray */
  cursor: not-allowed; /* Change the cursor to not-allowed */
}

.wish-watch-icon {
  position: absolute;
  left: 0.5%;
  top: 2%;
}
.wish-watch-id {
  position: absolute;
  left: 1%;
  color: white;
  font-size: clamp(2px, 1.5vw, 24px);
  font-weight: 700;
  top: 85.5%;
}

.watchlist-modal {
  z-index: 1002;
  display: flex;
  position: absolute; /* Position it absolutely */
  top: 10%; /* Position it just below the button */
  left: 30%; /* Align it with the left edge of the button */
  width: 40%;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none !important; /* Disable text selection for Safari */
  -moz-user-select: none !important; /* Disable text selection for Firefox */
  -ms-user-select: none !important; /* Disable text selection for Microsoft browsers */
  user-select: none !important; /* Disable text selection for modern browsers */
}

.watchlist-modal-content {
  padding: 0 20%;
  padding-bottom: 1%;
  display: flex;
  border-radius: 10px;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #11022d; /* White background for the modal content */
  box-shadow: 0px 0px 10px rgba(129, 0, 184, 0.6);
}

.watchlist-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1001;
}

.watchlist-close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 26px;
  font-weight: bold;
  color: red;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 1001;
}

.watchlist-item-button {
  background-color: #008cff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  padding: 5px 6px;
  padding-right: 35px;
  cursor: pointer;
  font-size: clamp(2px, 1.5vw, 18px);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: relative; /* Position the button relative to its parent */
  transition: background-color 0.3s ease, display 0.3s ease, disabled 0.3s ease;
}
.watchlist-item-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Show 5 items per row */
  gap: 10px; /* Adjust the gap as needed */
}
.watchlist-item-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}
.watchlist-item-inside-container {
  display: flex;
  align-items: center; /* Vertically center its children */
}
.watchlist-edit-icon {
  height: 90%;
  scale: 0.7;
  border-radius: 5px;
  padding: 2px 2px;
  margin-left: -36px;
  z-index: 1001;
  background-color: #008cff;
}
.watchlist-edit-icon:hover {
  background-color: #0056b3; /* Button background color on hover */
}



.watchlist-item-1999-button {
  background-color: #008cff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  padding: 5px 6px;
  cursor: pointer;
  font-size: clamp(2px, 1.5vw, 18px);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: relative; /* Position the button relative to its parent */
  margin: 5px; /* Add margin to separate the items */
  transition: background-color 0.3s ease, display 0.3s ease, disabled 0.3s ease;
}
.watchlist-items-1999-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Show 5 items per row */
  gap: 10px; /* Adjust the gap as needed */
}

.watchlist-item-1999-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}