/* Table container styles */
.no-selection {
  -webkit-user-select: none !important; /* Disable text selection for Safari */
  -moz-user-select: none !important; /* Disable text selection for Firefox */
  -ms-user-select: none !important; /* Disable text selection for Microsoft browsers */
  user-select: none !important; /* Disable text selection for modern browsers */
}

.table-container {
  font-family: Arial, sans-serif;
  max-width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
}

/* Table header styles */
.table-header {
  background-color: #f2f2f2;
  text-align: left;
}

/* Table header cells styles */
.table-header th {
  padding: 12px;
  text-align: center;
  font-size: clamp(2px, 1.5vw, 24px);
}

/* Table row styles */
.table-row:nth-child(even) {
  background-color: #f2f2f2;
}

/* Table cell styles */
.table-cell {
  align-items: center;
  padding: 8px;
}
.table-cell-item-name {
  display: flex;
  align-items: center;
  padding: 8px;
}

/* Image styles */
.table-cell img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

/* Text styles */
.item-name {
  font-size: clamp(2px, 1.5vw, 24px);
  font-weight: bold;
}

/* Increase width for the Name column */
.table-header th:nth-child(3) {
  width: 30%; /* Adjust the width as needed */
}

/* Time styles */
.table-cell .item-time {
  color: #777;
}

.table-item-icon {
  width: 10%;
  margin-left: 10%;
  margin-right: 3%;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
}
/* Add CSS classes for sorted columns */
.genshin-draw-table-sorted-asc {
  box-shadow: 0px 5px 0px 0px #ad00c0 inset;
}

.genshin-draw-table-sorted-desc {
  box-shadow: 0px -5px 0px 0px #ad00c0 inset;
}

.genshin-draw-table-filter-buttons {
  margin: 0.5%;
  padding: 0.5%;
  border: none;
  color: #fff;
  font-size: clamp(2px, 1.5vw, 16px);
  font-weight: bold;
  background-color: #080016;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, scale 0.3s ease;
  box-shadow: 0 0 10px rgba(68, 0, 77, 0.7);
}

.genshin-draw-table-filter-buttons:hover {
  background-color: #200058;
  scale: 1.1;
}

.genshin-draw-table-filter-selected {
  background-color: #200058;
  scale: 1.1;
}
