.code-table-text {
  font-size: clamp(2px, 1.5vw, 24px);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: start;
  border-bottom: 2px solid #fff;
  margin: 0;
  color: #fff;
}

.code-table-header-text {
  font-size: clamp(2px, 1.5vw, 24px);
  font-family: 'Poppins', sans-serif;
  border-bottom: 2px solid #fff;
  font-weight: 400;
  margin: 0;
  color: #fff;
}

.code-table-container {
  display: flex;
  background-color: #ff3300;
  margin-right: 10px;
}

.code-table {
  background-color: #4f2a00;
  justify-self: center;
}

.code-redeem-text {
  text-decoration: none; /* Remove the underline */
  color: inherit; /* Inherit the color from the parent element */
}
