.code-table-text {
  font-size: clamp(2px, 1.5vw, 24px);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  color: #fff;
}

.code-table-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #ff3300;
}

.code-table {
  background-color: #ff8a05;
  justify-self: center;
}

.code-redeem-text {
  text-decoration: none; /* Remove the underline */
  color: inherit; /* Inherit the color from the parent element */
}
