/* HomePage.css */

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #080016;
    overflow: hidden;
  }

  /* Container styles */
  .homepage-container {
      display: flex;
      align-items: flex-start; /* Adjust alignment as needed */
      padding: 1%;
    }
  
  /* Main Content styles */
  .homepage-content {
    flex: 1;
    padding: 1%;
  }

  .page-main-title {
    font-size: clamp(10px, 3vw, 128px);
    font-weight: 700;
    margin-top: 0rem;
    margin-bottom: 1rem;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
/* Style for the button with a specific class name */
.genshin-checkin-button-link-container {
  text-decoration: none; /* Remove the underline */
  display: flex;
  align-self: center; /* Center the button vertically */
  margin-left: 2%;
}

.genshin-checkin-button-link {
  text-decoration: none;
  display: inline-block;
  padding: 8px 15px;
  background-color: #008cff; /* Change the background color as needed */
  color: #fff; /* Text color */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover state for the button */
.genshin-checkin-button-link:hover {
  background-color: #0056b3; /* Change the background color on hover */
  scale: 1.1;
}

/* Adjust the button size, font size, and other styles as needed */

/* Apply styles to the grid container */
.home-grid-container {
  display: grid; /* Use CSS Grid */
  grid-template-columns: minmax(0, auto) minmax(0, auto);
  width: 100%;
  padding: 0%;
  margin: 0;
  height: 0vh; /* Full height of the viewport */
}

/* Style the left container */
.home-left-grid-container {
  display: grid; /* Use CSS Grid */
  grid-template-rows: minmax(0, auto) minmax(0, auto);
  padding: 0%;
}

/* Style the right container */
.home-right-grid-container {
  display: grid; /* Use CSS Grid */
  grid-template-rows: minmax(0, auto) minmax(0, auto);
  padding: 0%;
}

/* Style the top-left container */
.home-top-left-grid-container {
  display: grid; /* Use CSS Grid */
  grid-template-columns: minmax(0, auto) minmax(0, auto);
  padding: 0%; 
}

/* Style the top-left first section */
/* Birthday */
.home-top-left-first {
  background-color: #008cff; 
  flex: 50; 
}

/* Style the top-left second section */
/* Abyss */
.home-top-left-second {
  background-color: #00b7ff; 
  flex: 50; 
}

/* Style the bottom-left section */
/* Banner */
.home-bottom-left {
  background-color: #e100ff; 
  flex: 80; 
  padding: 3%; 
}

/* Style the top-right section */
/* Event */
.home-top-right {
  background-color: #00ffea; 
  flex: 50; 
}

/* Style the bottom-right section */
/* Code */
.home-bottom-right {
  background-color: #51ff00; 
  flex: 50; 
  padding-top: 2%; 
}