.ideagrid-sidebar {
  top: 2vh;
  left: 1vw;
}

.ideagrid-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ideagrid-grid {
  display: grid;
  grid-template-rows: repeat(5, 8vh);
  gap: 1px;
}
.ideagrid-gen-grid {
  display: grid;
  grid-template-rows: repeat(5, 4vh);
  gap: 1px;
}

.row {
  display: flex;
}

.ideagrid-cell {
  width: 8vh;
  height: 8vh;
  border: 1px solid #ccc;
  background-color: white;
  transition: background-color 0.3s ease;
}

.ideagrid-cell.highlighted {
  background-color: yellow;
}

.ideagrid-cell:hover {
  background-color: rgb(255, 255, 149);
}

.ideagrid-cell.highlighted:hover {
  background-color: yellow;
}

.ideagrid-display-cell {
  width: 2vh;
  height: 2vh;
  transition: background-color 0.3s ease;
}

.ideagrid-display-cell.highlighted {
  background-color: yellow;
}

.ideagrid-display-grid {
  display: grid;
  border: 2px solid #ccc;
  margin: 0.5vh;
  transition: border 0.3s ease;
}

.ideagrid-matrix-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ideagrid-display-grid:hover {
  border: 2px solid red;
}

.idea-input-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3vw;
  gap: 10px;
}

.idea-input-text-container div {
  display: flex;
  align-items: center;
}

.idea-input-text-container label {
  width: 125px; /* Adjust the width to your preference */
  text-align: right;
  margin-right: 10px;
}

.idea-input-text-container input {
  flex: 1;
  padding: 5px;
}

.idea-input-title {
  color: white;
}

.ideagrid-input-gridsize {
  width: 20px; /* Adjust the width to your preference */
  text-align: center;
}

.ideagrid-cell-gen-grid {
  width: 4vh;
  height: 4vh;
  border: 1px solid #ccc;
  background-color: white;
  transition: background-color 1s ease;
}

.optimized-grid-full-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.optimized-grid-container {
  flex-direction: column;
}

.optimized-grid-title {
  color: white;
}
.ideagrid-reso-character-name {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  font-size: clamp(0.5rem, 0.65vw, 2rem);
  text-align: center;
  transform: translateY(-150%);
  z-index: 20;
}

.ideagrid-center-reso-container {
  display: grid;
  grid-template-columns: repeat(10, 14.5vh);
  gap: 1px;
  overflow-y: auto;
  max-height: 90vh;
}
.ideagrid-character-rarity-image {
  position: relative;
  opacity: 0.75;
  transition: opacity 0.5s ease;
}
.ideagrid-character-element-image {
  position: relative;
  transition: transform 0.3s ease;
}
.ideagrid-reso-character-container:hover .ideagrid-character-element-image {
  transform: translateY(-5px);
}
.ideagrid-reso-character-container:hover .ideagrid-character-rarity-image {
  opacity: 1;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for darkness */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1999; /* Adjust the z-index to be above other elements */
}

.loading-spinner {
  position: absolute;
  display: inline-block;
  border: 12px solid rgba(0, 0, 0, 0.1);
  border-left: 12px solid rgb(202, 52, 219);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  z-index: 2000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* CSS for random colors for groups 'a' to 'z */
.ideagrid-cell-gen-grid-a {
  background-color: #3b77b5;
}
.ideagrid-cell-gen-grid-b {
  background-color: #b77b3b;
}
.ideagrid-cell-gen-grid-c {
  background-color: #5a5b91;
}
.ideagrid-cell-gen-grid-d {
  background-color: #e55a5a;
}
.ideagrid-cell-gen-grid-e {
  background-color: #65c54f;
}
.ideagrid-cell-gen-grid-f {
  background-color: #181c7d;
}
.ideagrid-cell-gen-grid-g {
  background-color: #d3d33b;
}
.ideagrid-cell-gen-grid-h {
  background-color: #317e37;
}
.ideagrid-cell-gen-grid-i {
  background-color: #c0a048;
}
.ideagrid-cell-gen-grid-j {
  background-color: #574fd0;
}
.ideagrid-cell-gen-grid-k {
  background-color: #5eccd3;
}
.ideagrid-cell-gen-grid-l {
  background-color: #d35ecc;
}
.ideagrid-cell-gen-grid-m {
  background-color: #d35465;
}
.ideagrid-cell-gen-grid-n {
  background-color: #9634cb;
}
.ideagrid-cell-gen-grid-o {
  background-color: #e9b07b;
}
.ideagrid-cell-gen-grid-p {
  background-color: #b07be9;
}
.ideagrid-cell-gen-grid-q {
  background-color: #d19191;
}
.ideagrid-cell-gen-grid-r {
  background-color: #91d1d1;
}
.ideagrid-cell-gen-grid-s {
  background-color: #614707;
}
.ideagrid-cell-gen-grid-t {
  background-color: #64c1a6;
}
.ideagrid-cell-gen-grid-u {
  background-color: #a6a664;
}
.ideagrid-cell-gen-grid-v {
  background-color: #648da6;
}
.ideagrid-cell-gen-grid-w {
  background-color: #be648d;
}
.ideagrid-cell-gen-grid-x {
  background-color: #af89be;
}
.ideagrid-cell-gen-grid-y {
  background-color: #3c3c3c;
}
.ideagrid-cell-gen-grid-z {
  background-color: #000000;
}
